html, body, div,  h1, h2, p, footer, header, main{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	line-height: 1.2;
	background-color: rgb(254,250,246);
}

.zag{
	font-family: Arial, sans-serif;
	font-weight: normal;
}

h2{
	font-family: Arial, sans-serif;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 20px;
}

.top{
	
}

header{
	position: fixed;
	top: 0;
	vertical-align: middle;
	width: 100%;
	background-color: rgb(27,45,94);
	padding: 10px 0 5px 0;
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 2px 2px 1px rgba(255,255,255,.15);
	font: normal 28px  Arial, sans-serif;
	
}

.wrapper{
	margin-top: 100px;
}

main{
	max-width: 760px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 1em;
	border-bottom: solid 1px rgba(255,255,255,.5);
}

main h1{
	font-size: 32px;
	color: rgb(100,100,100);
	text-shadow: 1px 1px 1px rgb(255,255,255);
	border-bottom: solid 1px rgb(100,100,100);
	margin-bottom: 0.5em;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(27,45,94);
}

footer p{
	text-align: center;
	font-size: 20px;
	font-family: Arial, sans-serif;
	padding: .5em .25em .5em 1em;
	color:rgb(255,255,255);
	margin: 0;
	margin-bottom: 30px;
}

p{
	font-size: 18px;
	color: rgb(100,100,100);
	font-family: Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
}

#newslinks li{
	display: inline-block;
	margin-right: 20px;
}

#newslinks li a{
	padding: 5px 10px;
	background-color: white;
	color: black !important;
	text-decoration: none;
}

#newslinks li a:hover{
	background-color: rgb(110,138,195);
	color: white !important;
}

#headlines #newsItem{
	margin-top: 10px;
	padding: 20px;
	border: 1px solid white;
}

#login{
	height: 400px;
	width: 400px;
}

.password_label{
	margin-left: 87px;
}

.label__label{
	margin-left: 15px;
}


#button_submit{
	font-size: 15px;
}